*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
}

body{
    overflow-x: hidden;
    height: 98vh;
    width: 100%;
    text-align: center;
    background-color: white;
}

.navbar{
    list-style: none;
    width: 100%;
    height: 10vh;
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
    POSITION: fixed;
    opacity: 80%;
}

.navbar a{
    text-decoration: none;
    color: black;
}
.navbar a:hover{
    transition: 0.35s;
    color: #f2f2f2;
    background-color: black;
    border-radius: 10%;
}
.slider{
    width: 100%;
    height: 80vh;
    margin: auto;
    overflow: hidden;
}
.slider ul{
    display: flex;
    padding: 0;
    width: 400%;

    animation: cambio 20s infinite alternate;
    animation-timing-function: ease-in;
}
.slider li{
    width: 100%;
    list-style: none;
}
.slider img{
    width: 100%;
}

@keyframes cambio{
    0%{
        margin-left: 0;
    }
    20%{
        margin-left: 0%;
    }
    25%{
        margin-left: -150%;
    }
    45%{
        margin-left: -150%;
    }
    50%{
        margin-left: -300%;
    }
    70%{
        margin-left: -300%;
    }
    75%{
        margin-left: -300%;
    }
    100%{
        margin-left: -300%;
    }
}
#fs {
    font-weight: 600;
}
#s1{
    color: #ffffff;
    width: auto;
    height: auto;
}
#s1 input{
    cursor: pointer;
    border: none;
    box-shadow: 10 10 10 10 #f2f2f2;
    padding: 10px;
    font-size: 18px;
    font-weight: 600;
}
#hsf{
    transform: translate(90vh, -40vh);
    font-family: 'Mohave', sans-serif;
}
.textbox{
    height: 0vh;
    width: 50%;
    font-size: 25px;
}
.textbox h1{
    
}
.s2{
    width: 100%;
    height: 20vh;
    background-color: black;
    color: #f2f2f2
}
.s2 h1{
    font-size: 3vh;
}
/* dadasdasdasdasdasdasdasdas*/
#TIMER{
    height: 100px;
    background-color: #0000;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#buttonj a{
    text-decoration: none;
    color: #f2f2f2;
}
#buttonj{
    background-color:#000000 ;
    cursor: pointer;
    padding: 1em;
    border: none;
    border-radius: 0.35em;
}
#buttonj:hover{
    border: solid;
    border-color: #ffffff;
    border-width: 0.5em;
    transition: 0.35s;
    background-color: #000000;
}
#time{
    color: red;
    background-color: #f2f2f2;
}
#s3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 79vh;
    text-align: center;
}

.cards{
    width: 70%;
    height: 30%;
    margin: 2.5%;
    border-radius: 0.35em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
#card1{
    color: #f2f2f2;
    height: 300px;
    width: 300px;
    border: none;
    border-radius: 5%;
    margin-left: 10px;
    margin-right: 10px;
    background-image: url("/img/prog1.jpg");
    background-size: cover;
}
#card2{
    color: #f2f2f2;
    height: 300px;
    width: 300px;
    border: none;
    border-radius: 5%;
    margin-left: 10px;
    margin-right: 10px;
    background-image: url("/img/prog2.jpg");
    background-size: cover;
    background-position: -100px;
}
#card3{
    color: #f2f2f2;
    height: 300px;
    width: 300px;
    border: none;
    border-radius: 5%;
    margin-left: 10px;
    margin-right: 10px;
    background-image: url("/img/prog3.jpg");
    background-size: cover;
}
#card4{
    color: #f2f2f2;
    height: 300px;
    width: 300px;
    border: none;
    border-radius: 5%;
    margin-left: 10px;
    margin-right: 10px;
    background-image: url("/img/prog4.jpg");
    background-size: cover;
}
#card img{
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}
#s4{
    color: #ffffff;
    display: flex;
    background-color: #000000;
    width: 100%;
    height: 49vh;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#s4 hr{
    height: 80%;
}
#columns{
    
}
#col1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 0.33;
    width: 100%;
    height: 100%;
}
#col2{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex: 0.33;
    width: 100%;
    height: 100%;
}
#col3{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex: 0.33;
    width: 100%;
    height: 100%;
}
#col3 ul{
    list-style: none;
}
#bottom-text{
    color: #ffffff;
    background-color: #000000;
}
